.bg-img-one {
    background-image: url("./img/cover/cover-1.png");
   }
.bg-img-two {
    background-image: url("./img/cover/cover-2.jpg");
   }
.bg-img-three {
    background-image: url("./img/cover/cover-3.jpg");
   }